<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="application.properties">
		<!-- 注意:是applications.properties文件中的值优先级高 -->
		<property name="username" value="briup" />
		<property name="password" value="briup" />
	</properties>
	<settings>
		<setting name="logPrefix" value="hdjd" />
	</settings>
	<typeAliases>
		<package name="com.briup.pojo" />
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="com.briup.typehandlers.PhoneTypeHandler" />
	</typeHandlers>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
		<environment id="test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="vonym" />
				<property name="password" value="vonym" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/briup/pojo/StudentMapper.xml" />
		<mapper resource="com/briup/extend/ExtendMapper.xml" />
		<mapper resource="com/briup/one2one/One2OneMapper.xml" />
		<mapper resource="com/briup/one2many/One2ManyMapper.xml" />
		<mapper resource="com/briup/many2many/Many2ManyMapper.xml" />
		<mapper resource="com/briup/dynamic/DynamicMapper.xml" />
		<mapper class="com.briup.annotation.AnnotationMapper"/>
		<!-- <mapper class="com.briup.pojo.StudentMapper" /> -->
		<!-- <package name="com.briup.pojo" /> -->
	</mappers>
</configuration> 