<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hdjd-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
      <filter-name>encodingFilter</filter-name>
      <filter-class>com.briup.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>encodingFilter</filter-name>
     <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.briup.basic.FirstServlet</servlet-class>
    <init-param>
      <param-name>author</param-name>
      <param-value>tom</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/servlet/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>com.briup.basic.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/servlet/secondServlet</url-pattern>
  </servlet-mapping>
</web-app>